/* .cart {
    display: flex;
    flex-direction: column;
    justify-content: end;
} */

.cart-total {
    width: 35%;
    border: 1px solid #bcccdc;
    padding: 1.5rem;
    margin: 5rem 0 10px auto;
}

.login {
    text-transform: uppercase;
    background: #ab7a5f;
    color: #eaded7;
    padding: .375rem .75rem;
    letter-spacing: .1rem;
    display: inline-block;
    font-weight: 400;
    transition: all .3s linear;
    font-size: .875rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: .25rem;
    border-color: transparent;
    width: 35%;
}

.login:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-7);
}