.nav-img {
    width: 175px;
}

.nav-links {
    font-size: 1rem;
    color: black;
}

li a {
    color: black;
}

li:hover {
    border-bottom: 2px solid #c5a491;
    /* width: 15%!important; */
}

.nav-icons {
    font-size: 1.4rem;
}

.nav-icons a {
    color: black;
    position: relative;
}

.nav-icons a:hover {
    border: 0;
    text-decoration: none;
}

.cart-number {
    position: absolute;
    top: -6px;
    right: 4px;
    color: white;
    font-size: 16px;
    background: #ab7a5f;
    border-radius: 48%;
    padding: 10px;
    width: 16px;
    height: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    li {
        margin: 10px 0;
    }
    li:hover {
        border-bottom: 0;
        background-color: #f1f5f8;
        padding: 5px;
        transition: all 0.5s ease;
        /* width: 15%!important; */
    }
}