body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.line {
    width: 20%;
    border-top: 4px solid #ab7a5f;
}

.line-space {
    line-height: 30px;
}

.hero-btn {
    border: 0;
    background-color: #ab7a5f;
    color: white;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    letter-spacing: 0.1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.footers {
    height: 78vh;
}